@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	height: 5vw;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
	padding: 0px;
	background-color: deeppink
}

.navbar {
	display: flex;
	align-items: center;
	list-style: none;
}

.navbar ul li {
	float: left;
}

ul li a {
	display: block;
	color: cornsilk;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1vw;



	border-radius: 10vw;
}

ul li a:hover {
	background-color: rgb(193, 0, 0);
	font-size: 1.1vw;
}

ul li a:hover:active {
	background-color: mediumorchid;
}


body {
	background-image: url("CutiePie.copy.jpg");
	display: flex;
	justify-content: center;
	align-items: start;
}





#mainpage {
	margin-top: 5vw;
	background-color: cornsilk;
	width: 90%;
	min-height: 90vw;
}

#mainpage * {
	margin: 1vw;
	/*  */
}

@media screen and (max-width: 600px) {

	nav {
		width: 100%;
		height: 20vw;
	}

	ul li a {

		font-size: 4vw;

	}

	ul li a:hover {
		background-color: rgb(193, 0, 0);
		font-size: 4vw;
	}

	#mainpage {
		margin-top: 20vw;
		
	}



}